import(survival)
import(stats)
import(Matrix)
import(graphics)
import(prodlim)
useDynLib(CoxBoost,find_best_candidate,get_I_vec)

export(CoxBoost,iCoxBoost,cvcb.control,cv.CoxBoost,optimCoxBoostPenalty,optimStepSizeFactor,estimPVal,resample.CoxBoost,stabtrajec,weightfreqmap)
S3method(predict,CoxBoost)
S3method(predict,iCoxBoost)
S3method(print,CoxBoost)
S3method(summary,CoxBoost)
S3method(plot,CoxBoost)
S3method(coef,CoxBoost)
